.acceptable-Toast{
    background-color: green;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    right: -350px;
    top: 30px;
       
}

.adjacent-right{
    transition: all .3s ease-in-out;
    right: 10px;

}

.Rejected-Toast{
    background-color: yellow;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    right: -350px;
    top: 30px;
}

.adjacent2-right{
    transition: all .3s ease-in-out;
    right: 10px;

}